@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+25&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Nothing+You+Could+Do&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+25&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Nothing+You+Could+Do&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    width: 1200px;
    gap: 50px;
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    min-width: fit-content;
    height: 200px;
    padding: 5px;
    position: relative;
    transition: 0.2s all ease-in-out;
    object-fit: contain;
    border-radius: 10px;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    outline: 2px solid #666;
}

/* .card:hover {
    display: flex;
    filter: none;
    cursor: pointer;
} */

.card-img {
    width: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.card-heading {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    background-clip: text;
    font-size: 1.6rem;
    color: aliceblue;
    padding: 5px 0;
    max-width: 200px;
    margin: 0;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: absolute; /*HERE!!!!!*/
    width: 100%;
    top: 30%;
    left: 5%;
    right: 0;
}

@media(max-width: 1024px) {
    .main-content {
        width: auto;
    }
}